* {
  font-family: sans-serif;
}

input,
button {
  font-size: 20px;
  padding: 15px;
}

.Results {
  background-color: yellow;
  margin-bottom: 5px;
}

.Results > h3 {
  padding-left: 20px;
}

.Results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  width: 25%;
}

.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  width: 25%;
}

.Button {
  cursor: pointer;
}

.col,
.col-single {
  flex: 1;
}

.col-single {
  margin-top: 5px;
  background-color: tomato;
  color: white;
}

button:active {
  background-color: yellow;
}

.col-single:hover {
  background-color: red;
}
